{% extends 'base.html.twig' %}

{% block title %}New Cat{% endblock %}

{% block body %}
    <h1>Create new Cat</h1>

    {{ include('cat_crud/_form.html.twig') }}

    <a href="{{ path('app_cat_crud_index') }}">back to list</a>
{% endblock %}
